pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
pymediainfo
pytgcalls
requests
unidecode
pytimeparse
gunicorn
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
git+https://github.com/hakutakaid/pyrogram
openai
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
Pillow
uvloop
numpy
pycryptodome
opencv-python-headless
pyromod
