pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
pymediainfo
pytgcalls==3.0.0.dev22
requests
unidecode
pytimeparse
gunicorn
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
git+https://github.com/hakutakaid/pyrogram
openai==0.28
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
Pillow==9.5.0
uvloop
numpy==1.26.4
pycryptodome
opencv-python-headless==4.10.0.82
